<header
  class="fixed top-0 right-0 left-0 shadow-lg bg-light dark:bg-darkest z-50"
>
  <mat-toolbar class="w-page px-2">
    <a [routerLink]="['/home']">
      <img
        [ngClass]="SMQuery.matches ? 'h-12' : 'h-9'"
        class="w-auto"
        width="auto"
        [height]="SMQuery.matches ? 48 : 36"
        src="assets/AIspeakin.png"
        alt="AIspeakin"
      />
    </a>

    <span class="grow"></span>

    <button type="button" mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>contrast</mat-icon>
    </button>

    <button type="button" mat-icon-button [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
    </button>

    @if (SMQuery.matches) { @if (loggedIn$ | async) {
    <button
      type="button"
      class="ml-1"
      mat-button
      [matMenuTriggerFor]="userMenu"
    >
      {{ "HEADER.MY_ACCOUNT" | translate }}
    </button>
    } @else {
    <button
      type="button"
      class="ml-1"
      color="primary"
      mat-flat-button
      [routerLink]="['/login']"
    >
      {{ "HEADER.LOGIN" | translate }}
    </button>
    } } @else { @if (loggedIn$ | async) {
    <button type="button" mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    } @else {
    <button
      type="button"
      class="shadow-none ml-3"
      mat-mini-fab
      color="primary"
      [routerLink]="['/login']"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
    } }
  </mat-toolbar>
</header>

<mat-menu #themeMenu="matMenu">
  <ng-template ngFor let-item [ngForOf]="themeMenuItemList">
    <button
      type="button"
      [ngClass]="{ 'bg-accent text-white': item.value === (theme$ | async) }"
      mat-menu-item
      (click)="onSelectTheme(item.value)"
    >
      <mat-icon [ngClass]="{ 'text-white': item.value === (theme$ | async) }">{{
        item.icon
      }}</mat-icon>
      <span> {{ item.label | translate }}</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #langMenu="matMenu">
  <ng-template ngFor let-option [ngForOf]="langOptionList">
    <button
      type="button"
      [ngClass]="{ 'bg-accent text-white': option.value === t.currentLang }"
      mat-menu-item
      (click)="onSelectLang(option.value)"
    >
      {{ option.label }}
    </button>
  </ng-template>
</mat-menu>

<mat-menu #userMenu="matMenu">
  <button type="button" mat-menu-item [routerLink]="['/ubestream']">
    {{ "HEADER.SERVICES" | translate }}
  </button>
  <button class="text-warn" type="button" mat-menu-item (click)="onLogout()">
    {{ "HEADER.LOGOUT" | translate }}
  </button>
</mat-menu>
