<app-header></app-header>

<div
  [ngClass]="SMQueryMatches ? 'py-[64px]' : 'py-[56px]'"
  class="w-full h-dvh"
>
  <div class="h-full">
    @switch (mode) { @case (modeObj.SingleSided) {
    <div class="w-page h-full">
      <app-single-sided [messageList]="messageList$ | async"></app-single-sided>
    </div>
    } @case (modeObj.DualSided) {
    <div class="w-full h-full">
      <app-dual-sided [messageList]="messageList$ | async"></app-dual-sided>
    </div>
    } @case (modeObj.FaceToFace) {
    <div class="w-full h-full">
      <app-face-to-face [messageList]="messageList$ | async"></app-face-to-face>
    </div>
    } }
  </div>
</div>

<app-recording-bar
  [mode]="mode"
  [main]="true"
  (modeEmit)="onModeEmit($event)"
></app-recording-bar>
