<app-header></app-header>

<div
  [ngClass]="SMQueryMatches ? 'pt-[64px] pb-[120px]' : 'pt-[56px] pb-[112px]'"
  class="w-full h-dvh"
>
  <div class="h-full">
    @switch (mode) { @case (modeObj.SingleSided) {
    <div class="w-page h-full">
      <app-single-sided [messageList]="messageList$ | async"></app-single-sided>
    </div>
    } @case (modeObj.DualSided) {
    <div class="w-full h-full">
      <app-dual-sided [messageList]="messageList$ | async"></app-dual-sided>
    </div>
    } @case (modeObj.FaceToFace) {
    <div class="w-full h-full">
      <app-face-to-face [messageList]="messageList$ | async"></app-face-to-face>
    </div>
    } }
  </div>
</div>

<div
  [ngClass]="SMQueryMatches ? 'bottom-[64px]' : 'bottom-[56px]'"
  class="fixed right-0 left-0 bg-white"
>
  <div class="w-page h-14 flex justify-evenly items-center bg-transparent px-2">
    <div class="shrink-0 w-1/3 h-full flex justify-center items-center">
      <img
        class="w-auto h-full max-h-6 object-contain"
        width="auto"
        src="assets/InnoVEX.png"
        alt="InnoVEX"
      />
    </div>

    <div class="shrink-0 w-1/3 h-full flex justify-center items-center">
      <img
        class="w-auto h-full max-h-10 object-contain"
        width="auto"
        src="assets/COMPUTEX-TAIPEI.png"
        alt="COMPUTEX TAIPEI"
      />
    </div>

    <div class="shrink-0 w-1/3 h-full flex justify-center items-center">
      <img
        class="w-auto h-full max-h-10 object-contain"
        width="auto"
        src="assets/TITA_D.png"
        alt="TITA"
      />
    </div>
  </div>

  <span class="absolute right-0 bottom-0 text-xs text-gray-500 p-1">廣告</span>
</div>

<app-recording-bar
  [mode]="mode"
  [main]="true"
  (modeEmit)="onModeEmit($event)"
></app-recording-bar>
