<div
  [ngClass]="main ? 'bottom-0' : 'top-0 rotate-180'"
  class="fixed right-0 left-0 bg-light z-50 shadow-inner dark:bg-darkest"
>
  <mat-toolbar class="w-page bg-transparent px-2">
    <div class="w-full flex">
      <button
        *ngIf="main"
        type="button"
        mat-button
        color="accent"
        [matMenuTriggerFor]="modeMenu"
      >
        {{ "MODE.DISPLAY_MODE" | translate }}
      </button>

      <span class="grow"></span>
    </div>

    <div class="shrink-0">
      <button
        class="w-12 h-12 border-4 border-solid border-gray-700 rounded-full flex justify-center items-center dark:border-gray-300"
        type="button"
        (click)="!recording ? onStartRecording() : onStopRecording()"
      >
        <span
          [ngClass]="
            !recording
              ? 'w-8 h-8 rounded-16'
              : 'animate-pulse w-5 h-5 rounded-4'
          "
          class="transition-all bg-red-500"
        ></span>
      </button>
    </div>

    <div class="w-full flex">
      <span class="grow"></span>

      <button
        *ngIf="main"
        type="button"
        mat-icon-button
        color="accent"
        [matMenuTriggerFor]="actionMenu"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

<mat-menu #modeMenu="matMenu">
  <ng-template ngFor let-item [ngForOf]="modeMenuItemList">
    <button
      type="button"
      [ngClass]="{ 'bg-accent text-white': item.value === mode }"
      [disabled]="
        (item.value === modeObj.DualSided && !MDQueryMatches) ||
        (item.value === modeObj.FaceToFace &&
          !MDQueryMatches &&
          landscapeQueryMatches)
      "
      mat-menu-item
      (click)="onSelectMode(item.value)"
    >
      <mat-icon
        [ngClass]="{
          'text-white': item.value === mode,
          'rotate-90': item.value === modeObj.DualSided
        }"
        >{{ item.icon }}</mat-icon
      >
      <span>{{ item.label | translate }}</span>
    </button>
  </ng-template>
</mat-menu>

<mat-menu #actionMenu="matMenu">
  <button
    class="text-warn"
    type="button"
    mat-menu-item
    [disabled]="((messageList$ | async)?.length ?? 0) === 0"
    (click)="onClearConversation()"
  >
    {{ "STT_STREAMING.CLEAR_CONVERSATION" | translate }}
  </button>

  <!-- TODO: 設置語言? -->
</mat-menu>
