<div
  [ngClass]="{ 'p-4': SMQuery.matches }"
  class="w-full h-dvh bg-lighter flex justify-center items-center dark:bg-darkest"
>
  <div
    [ngClass]="
      SMQuery.matches
        ? 'max-w-sm h-auto border flex-row items-stretch'
        : 'h-full border-0 flex-col'
    "
    class="w-full max-h-full border-solid rounded-lg bg-lightest flex m-auto dark:bg-darker"
  >
    <div
      [ngClass]="SMQuery.matches ? 'h-auto border-r' : 'h-14'"
      class="px-4 flex justify-center items-center"
    >
      <a [routerLink]="['/home']">
        <img
          [ngClass]="SMQuery.matches ? 'h-12' : 'h-9'"
          class="w-auto"
          width="auto"
          [height]="SMQuery.matches ? 48 : 36"
          src="assets/AIspeakin.png"
          alt="AIspeakin"
        />
      </a>
    </div>

    <div class="overflow-y-auto grow flex justify-center items-center p-8">
      <form [formGroup]="fg" class="w-full max-w-80 grid gap-4 grid-cols-1">
        <div class="text-3xl col-span-1 my-4">
          {{ "LOGIN.TITLE" | translate }}
        </div>

        <!-- 帳號 -->
        <mat-form-field class="col-span-1" appearance="outline">
          <mat-label>{{ "LOGIN.USERNAME" | translate }}</mat-label>
          <input
            type="text"
            matInput
            [formControl]="fcs['username']"
            maxlength="25"
            required
            [readonly]="loggingIn"
            appAutofocus
          />

          <mat-icon matPrefix>person</mat-icon>

          <mat-icon
            *ngIf="fcs['username'].value"
            matSuffix
            class="cursor-pointer"
            [matTooltip]="'LOGIN.CLEAR' | translate"
            (click)="fcs['username'].reset()"
          >
            clear
          </mat-icon>

          <mat-error *ngIf="fcs['username'].hasError('required')">{{
            "LOGIN.ERROR.USERNAME_REQUIRED" | translate
          }}</mat-error>
        </mat-form-field>

        <!-- 密碼 -->
        <mat-form-field class="col-span-1" appearance="outline">
          <mat-label>{{ "LOGIN.PASSWORD" | translate }}</mat-label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            matInput
            [formControl]="fcs['password']"
            maxlength="50"
            required
            [readonly]="loggingIn"
            autocomplete="off"
          />

          <mat-icon matPrefix>key</mat-icon>

          <mat-icon
            matSuffix
            class="cursor-pointer"
            [matTooltip]="
              (showPassword ? 'LOGIN.HIDE_PASSWORD' : 'LOGIN.SHOW_PASSWORD')
                | translate
            "
            (click)="showPassword = !showPassword"
            >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
          >

          <mat-error *ngIf="fcs['password'].hasError('required')">{{
            "LOGIN.ERROR.PASSWORD_REQUIRED" | translate
          }}</mat-error>
        </mat-form-field>

        <button
          class="col-span-1 my-4"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="loggingIn"
          (click)="onLogin()"
        >
          @if (loggingIn) {
          <mat-spinner diameter="24"></mat-spinner>
          } @else { {{ "LOGIN.TITLE" | translate }} }
        </button>
      </form>
    </div>
  </div>
</div>
