<div
  [ngClass]="{ 'p-4': SMQuery.matches }"
  class="w-full h-dvh bg-lighter flex justify-center items-center dark:bg-darkest"
>
  <div
    [ngClass]="
      SMQuery.matches
        ? 'max-w-sm h-auto border flex-row items-stretch'
        : 'h-full border-0 flex-col'
    "
    class="w-full max-h-full border-solid rounded-lg bg-lightest flex m-auto dark:bg-darker"
  >
    <div
      [ngClass]="SMQuery.matches ? 'h-auto border-r' : 'h-14'"
      class="px-4 flex justify-center items-center"
    >
      <a [routerLink]="['/home']">
        <img
          [ngClass]="SMQuery.matches ? 'h-12' : 'h-9'"
          class="w-auto"
          width="auto"
          [height]="SMQuery.matches ? 48 : 36"
          src="assets/AIspeakin.png"
          alt="AIspeakin"
        />
      </a>
    </div>

    <div class="overflow-y-auto grow flex justify-center items-center p-8">
      <form [formGroup]="fg" class="w-full max-w-80 grid gap-4 grid-cols-1">
        <div class="flex justify-between items-center col-span-1 my-4">
          <span class="text-3xl">{{ "REGISTER.TITLE" | translate }}</span>

          <button type="button" mat-icon-button [matMenuTriggerFor]="langMenu">
            <mat-icon>language</mat-icon>
          </button>
        </div>

        <!-- 帳號 -->
        <mat-form-field class="col-span-1" appearance="outline">
          <mat-label>{{ "REGISTER.USERNAME" | translate }}</mat-label>
          <input
            type="text"
            inputmode="email"
            matInput
            [formControl]="fcs['username']"
            maxlength="50"
            required
            [readonly]="registering"
            appAutofocus
          />

          <mat-icon matPrefix>email</mat-icon>

          <mat-icon
            *ngIf="fcs['username'].value"
            matSuffix
            class="cursor-pointer"
            [matTooltip]="'REGISTER.CLEAR' | translate"
            (click)="fcs['username'].reset()"
          >
            clear
          </mat-icon>

          <mat-hint align="end"
            >{{ fcs["username"].value.length || 0 }} / 50</mat-hint
          >

          <mat-error *ngIf="fcs['username'].hasError('required')">{{
            "REGISTER.ERROR.USERNAME_REQUIRED" | translate
          }}</mat-error>

          <mat-error *ngIf="fcs['username'].hasError('email')">{{
            "REGISTER.ERROR.USERNAME_EMAIL" | translate
          }}</mat-error>
        </mat-form-field>

        <!-- 密碼 -->
        <mat-form-field class="col-span-1" appearance="outline">
          <mat-label>{{ "REGISTER.PASSWORD" | translate }}</mat-label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            matInput
            [formControl]="fcs['password']"
            maxlength="50"
            required
            [readonly]="registering"
            autocomplete="off"
          />

          <mat-icon matPrefix>key</mat-icon>

          <mat-icon
            matSuffix
            class="cursor-pointer"
            [matTooltip]="
              (showPassword
                ? 'REGISTER.HIDE_PASSWORD'
                : 'REGISTER.SHOW_PASSWORD'
              ) | translate
            "
            (click)="showPassword = !showPassword"
            >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
          >

          <mat-hint align="end"
            >{{ fcs["password"].value.length || 0 }} / 50</mat-hint
          >

          <mat-error *ngIf="fcs['password'].hasError('required')">{{
            "REGISTER.ERROR.PASSWORD_REQUIRED" | translate
          }}</mat-error>

          <mat-error *ngIf="fcs['password'].hasError('minlength')">{{
            "REGISTER.ERROR.PASSWORD_MINLENGTH" | translate
          }}</mat-error>
        </mat-form-field>

        <!-- 確認密碼 -->
        <mat-form-field class="col-span-1" appearance="outline">
          <mat-label>{{ "REGISTER.CONFIRM_PASSWORD" | translate }}</mat-label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            matInput
            [formControl]="fcs['confirmPassword']"
            required
            maxlength="50"
            autocomplete="off"
            [errorStateMatcher]="passwordMatchErrorStateMatcher"
          />

          <mat-icon matPrefix>key</mat-icon>

          <mat-icon
            matSuffix
            class="cursor-pointer"
            [matTooltip]="
              (showPassword
                ? 'REGISTER.HIDE_PASSWORD'
                : 'REGISTER.SHOW_PASSWORD'
              ) | translate
            "
            (click)="showPassword = !showPassword"
            >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
          >

          <mat-error *ngIf="fcs['confirmPassword'].hasError('required')">{{
            "REGISTER.ERROR.CONFIRM_PASSWORD_REQUIRED" | translate
          }}</mat-error>

          <mat-error *ngIf="fg.hasError('passwordMatch')">{{
            "REGISTER.ERROR.PASSWORD_NOT_MATCH" | translate
          }}</mat-error>
        </mat-form-field>

        <button
          class="col-span-1 mt-4"
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="registering"
          (click)="onRegister()"
        >
          @if (registering) {
          <mat-spinner diameter="24"></mat-spinner>
          } @else { {{ "REGISTER.TITLE" | translate }} }
        </button>

        <button
          class="col-span-1 mb-4"
          type="button"
          mat-button
          color="primary"
          [disabled]="registering"
          [routerLink]="['/login']"
        >
          {{ "LOGIN.TITLE" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>

<mat-menu #langMenu="matMenu">
  <ng-template ngFor let-option [ngForOf]="langOptionList">
    <button
      type="button"
      [ngClass]="{ 'bg-accent text-white': option.value === t.currentLang }"
      mat-menu-item
      (click)="onSelectLang(option.value)"
    >
      {{ option.label }}
    </button>
  </ng-template>
</mat-menu>
