<div [ngClass]="{ '-scale-x-100': switched }" class="h-full flex items-stretch">
  <div #messageBox class="w-1/2 -scale-x-100 overflow-y-auto">
    <ng-template
      ngFor
      let-message
      [ngForTrackBy]="trackByFn"
      [ngForOf]="messageList"
    >
      <app-message
        [message]="message"
        [locale]="locale$ | async"
        [swapped]="true"
      ></app-message>
    </ng-template>
  </div>

  <div class="shrink-0 flex flex-col items-center">
    <div class="grow w-px bg-dark my-2 dark:bg-light"></div>

    <button
      [ngClass]="{ '-scale-x-100': switched }"
      class="shrink-0 shadow-none"
      type="button"
      mat-mini-fab
      (click)="switchRole()"
    >
      <mat-icon>swap_horiz</mat-icon>
    </button>

    <div class="grow w-px bg-dark my-2 dark:bg-light"></div>
  </div>

  <div #messageBox class="w-1/2 overflow-y-auto">
    <ng-template
      ngFor
      let-message
      [ngForTrackBy]="trackByFn"
      [ngForOf]="messageList"
    >
      <app-message
        [message]="message"
        [locale]="locale$ | async"
        [swapped]="false"
      ></app-message>
    </ng-template>
  </div>
</div>
