<div mat-dialog-title>{{ "STT_STREAMING.SHARE_FEEDBACK" | translate }}</div>

<div mat-dialog-content class="flex justify-center">
  <div class="flex flex-col items-stretch">
    <a
      class="rounded-full bg-darkgoldenrod text-white mb-4"
      mat-flat-button
      color="primary"
      href="https://forms.gle/wDawWJLA5eW3ZuEG6"
      target="_blank"
    >
      <mat-icon>open_in_new</mat-icon>
      <span>中文表單</span>
    </a>

    <a
      class="rounded-full bg-darkgoldenrod text-white"
      mat-flat-button
      color="primary"
      href="https://forms.gle/6skJC7aP4a6UjWS96"
      target="_blank"
    >
      <mat-icon>open_in_new</mat-icon>
      <span>English Form</span>
    </a>
  </div>
</div>
