/* Custom Theming for Angular Material */
/* For more information: https://material.angular.io/guide/theming */
@use "@angular/material" as mat;
@use "./themes/light";
@use "./themes/dark";
/* Plus imports for other components in your app. */

/* Include the common styles for Angular Material. We include this here so that you only */
/* have to load a single css file for Angular Material in your app. */
/* Be sure that you only ever include this mixin once! */
@include mat.core();

/* Include theme styles for core and each component used in your app. */
/* Alternatively, you can import and @include the theme mixins for each component */
/* that you are using. */
@include mat.all-component-themes(light.$theme);

html.dark {
  @include mat.all-component-colors(dark.$theme);
}

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-palette: #3f51b5;
    --accent-palette: #673ab7;
    --warn-palette: #f44336;
  }

  html.dark {
    --primary-palette: #9c27b0;
    --accent-palette: #009688;
    --warn-palette: #f44336;
  }
}

@layer components {
  .w-page {
    @apply w-full max-w-7xl mx-auto #{!important};
  }

  /* snack-bar */
  mat-snack-bar-container > div {
    @apply border-0 border-l-6 border-solid border-gray-400 #{!important};

    mat-icon {
      @apply text-gray-400 #{!important};
    }
  }
  mat-snack-bar-container.success > div {
    @apply border-green-400 #{!important};

    mat-icon {
      @apply text-green-400 #{!important};
    }
  }
  mat-snack-bar-container.error > div {
    @apply border-red-400 #{!important};

    mat-icon {
      @apply text-red-400 #{!important};
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;

  font-family: Roboto, "Noto Sans TC", "Noto Sans JP", sans-serif;
  background-color: #fff;
  color: #000;
}

html.dark {
  body {
    background-color: #303030;
    color: #fff;
  }
}

/* adjustments for @angular/material */
/* button */
.mdc-icon-button {
  line-height: 1 !important;
}

/* form-field */
.mdc-notched-outline__notch {
  border-right-width: 0 !important;
}
